body {
  background-color:#1f1f38;
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
  color:white;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.ContinueShopping{
  
  background-color:&#x2190;
}
.checkout {
  
 
  width: 100%;
  cursor: pointer;
   background-color: #42ba96;
  color:white;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.text-right {
  text-align: right;
}
.name{ color:white;}
.imageview{
   color: #ffffff;
   width:710px;
   margin-left:222px;
    height:714px;
}

.imageview{
    
  
   font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 33%;
  cursor: pointer;
  
}
img.smallee {
  
  background-size: 100% 100%;
    color: #ffffff;
  width:110px;
   margin-left:222px;
    height:114px;
}

button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 33%;
  cursor: pointer;
  
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.remove1 {
  background-color: #f04040;
  width: 10.5rem;
  color:white;
}

button.checkout1 {
   background-color: #42ba96;
  width: 17.5rem;
  color:white;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}


.row{
  
    display: flex;
    
   
}

button.add1 {
  background-color: #40c0f0;
  width:45%;
   height:1%;
}

 .btn1 {
  background-color: #40c0f0;
  width:77%;
   height:1%;
  }
.btncheck {
  background-color: #40c0f0;
  width:77%;
   height:1%;
  }
  .btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
  }
  
  .btn:hover {
    background-color: #9c1458;
    border-color: #9c1458;
  }
  
  .btn--alt {
    background-color: transparent;
    color: #800040;
  }
  
  .btn--alt:hover {
    background-color: #f8dae9;
  }
  
  .card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 20rem;
  }
  
  .actions {
    text-align: right;
  }
  
  .modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }
  
  .backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }